.home-container {
    max-width: 1000px;
    margin: auto;
    /* border: 1px solid black; */
}

.carousel-container {
    width: 500px;
    margin: auto;
}

.home-welcome {
    text-align: center;
}

h3 > span {
    color:cadetblue;
}
/* h4 {
    color: red;
} */