

.home-container {
    max-width: 1000px;
    margin: auto;
    /* border: 1px solid black; */
}

.carousel-container {
    width: 500px;
    margin: auto;
}

.home-welcome {
    text-align: center;
}

h3 > span {
    color:cadetblue;
}

.board-img {
    max-width: 100px;
}

.search-bar, .gift-form, .update-form {
    width: 500px;
    margin-left: 20px;
}

.search-bar, .add-button-container {
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
}