{% extends 'base.html' %}
{% block title %}Board Detail{% endblock %}
{% block content %}
<div>
    <h3>{{board.title}}</h3>
    <h6>{{board.about}}</h6>
</div>
<div>
    <img class="board-img" src="{{board.image}}" alt={{board.title}}/>
</div>
<div>
    <a class="waves-effect waves-light btn-small" href="{% url 'board_update' board.pk %}">Edit Board</a>
    <a class="waves-effect waves-light btn-small" href="{% url 'board_delete' board.pk %}">Delete Board</a>
</div>

<h3>Gift Ideas</h3>
<div class="row">
    {% for gift in board.gifts.all %}
    <div class="col s6 m3">
        <div class="card medium">
            <div class="card-image">
                <img class="gift-img" src="{{gift.image}}" alt={{gift.idea}}/>
            </div>
            <div class="card-content">
                <span><b>{{gift.idea}}</b></span>
                <p>Date to purchase by: {{gift.date_needed}}</p>
            </div>
            <div class="card-action">
                <a href="{{gift.link}}">Link to Item</a>
            </div>
        </div>
    </div>
{% endfor %}
</div> 


<h4>Add a new gift idea to board: {{board.title}}</h4>
<!-- adding form for new gift_idea -->
<form class="gift-form" form action="{% url 'gift_create' board.pk%}" method="post">
    {% csrf_token %}
    <div>
        <div>
            <input 
                class="input" 
                type="text"
                name="idea" 
                placeholder="Enter Gift Idea" 
                required
            />
        </div>
        <div>
            <input 
                class="input" 
                type="text"
                name="image" 
                placeholder="image" 
                required
            />
        </div>
        <div>
            <input 
                class="input" 
                type="text"
                name="link" 
                placeholder="link to gift idea" 
                required
            />
        </div>
        <div>
            <input 
                class="input" 
                type="date"
                name="date_needed" 
                placeholder="date to purchase by" 
                required
            />
        </div>
        <div>
            <button class="btn waves-effect waves-light" type="submit" value="Add Gift Idea">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
        
    </div>

</form>


{% endblock %}