{% extends 'base.html' %}
{% block title %}Board Detail{% endblock %}
{% block content %}
<div>
    <h1>{{board.title}}</h1>
    <h4>{{board.about}}</h4>
</div>
<div>
    <img class="board-img" src="{{board.image}}" alt={{board.title}}/>
</div>
<div>
    <a class="waves-effect waves-light btn-small" href="{% url 'board_update' board.pk %}">Edit Board</a>
    <a class="waves-effect waves-light btn-small" href="{% url 'board_delete' board.pk %}">Delete Board</a>
</div>

<div>
    <h3>Gift Ideas</h3>
    {% for gift in board.gifts.all %}
    <div>
        <span>{{forloop.counter}}</span>
        <span><b>{{gift.idea}}</b></span>
        <a href="{{gift.link}}">
            <img class="gift-img" src="{{gift.image}}" alt={{gift.idea}}/>
        </a>
        <p>Date to purchase by: {{gift.date_needed}}</p>
    </div>
</div>
{% endfor %}

<h4>Add a new gift idea</h4>
<!-- adding form for new gift_idea -->
<form form action="{% url 'gift_create' board.pk%}" method="post">
    {% csrf_token %}
    <div>
        <div>
            <input 
                class="input" 
                type="text"
                name="idea" 
                placeholder="Enter Gift Idea" 
                required
            />
        </div>
        <div>
            <input 
                class="input" 
                type="text"
                name="image" 
                placeholder="image" 
                required
            />
        </div>
        <div>
            <input 
                class="input" 
                type="text"
                name="link" 
                placeholder="link to gift idea" 
                required
            />
        </div>
        <div>
            <input 
                class="input" 
                type="date"
                name="date_needed" 
                placeholder="YYYY-MM-DD" 
                required
            />
        </div>
        <div>
            <button class="btn waves-effect waves-light" type="submit" value="Add Gift Idea">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
        
    </div>

</form>


{% endblock %}