{% extends 'base.html'%}
{% block title %}Boards{% endblock %}
{% block content %}
<h3>{{header}}</h3>

<form>
    <div>
        <div>
            <input class="input" type="text" name="title" placeholder="board title"/>
        </div>
        <div>
            <input class="button" type="submit" value="Search"/>
        </div>
    </div>
    <a href="{% url 'board_list' %}">Clear Search</a>
    <a class="button" href="{% url 'board_create' %}">Add Board</a>
</form>




    <div class="row">
        {% for board in boards %}
        <div class="col s6 m3">
            <div class="card">
                <div class="card-image">
                    <a href="{% url 'board_detail' board.pk %}">
                    <img src="{{board.image}}" alt="{{board.title}}"/>
                    </a>
                    <!-- <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> -->
                </div>
                <div class="card-content">
                    <h3>{{board.title}}</h3>
                    <p>{{board.about}}</p>
                </div>
            </div>
        </div>
        {% empty %}
            <div>
                <p>No Boards Avalable</p>
            </div>
        {% endfor %}
    </div>


{% endblock %}



