{% extends 'base.html'%}
{% block title %}Boards{% endblock %}
{% block content %}
<h1>Your Boards</h1>
<h2>{{header}}</h2>

<form>
    <div>
        <div>
            <input class="input" type="text" name="title" placeholder="title"/>
        </div>
        <div>
            <input class="button" type="submit" value="Search"/>
        </div>
    </div>
    <a href="{% url 'board_list' %}">Clear Search</a>
    <a class="button" href="{% url 'board_create' %}">Add Board</a>
</form>


{% for board in boards %}
<div>
    <h3>{{board.title}}</h3>
</div>
<div>
    <img src="{{board.image}}" alt="{{board.title}}"/>
</div>
{% empty %}
<div>
    <p>No Boards Avalable</p>
</div>
{% endfor %}
{% endblock %}



