{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home-welcome">
    <h3>Welcome to Gift Planner!</h3>
    <h6>Use gift planner to create customized boards that hold your ideas.</h6>
</div>
<div class="home-container">
    <div class="carousel carousel-slider carousel-container">
        <a class="carousel-item"><img class="carousel-img" src="https://i.imgur.com/m230kFv.png"></a>
        <a class="carousel-item"><img class="carousel-img" src="https://i.imgur.com/bYSQmvR.png"></a>
        <a class="carousel-item"><img class="carousel-img" src="https://i.imgur.com/BJTgj4M.png"></a>
        <a class="carousel-item"><img class="carousel-img" src="https://i.imgur.com/Ptoy3Oz.png"></a>
      </div>
</div>

{% endblock %}
